.App {
  text-align: center;
  margin: 30px;
 }
 
 .todo{
  border: 2px solid #003599;
  border-radius: 10px;
  margin-bottom: 10px !important ;
  margin-right: 50px !important;
  display: flex;
  color: white;
  background-color: #795548;
}

 .txt_todo{
  width: 300px;
  margin-bottom: 20px;
 }
 
 .save_button{
  margin-left: 20px !important;
 }
  